{
  "**/*.js": [
    "eslint --report-unused-disable-directives --fix",
    "git add"
  ],
  "**/*.json": [
    "jsonlint --in-place",
    "git add"
  ],
  "**/{!(package|package-lock).json,.*rc}": [
    "jsonlint --in-place",
    "git add"
  ],
  "package.json": [
    "sort-package-json",
    "git add"
  ]
}